<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>success</title>
</head>
<body>
<h3> Registration Success</h3>
<table>
	<tr>
		<td>First_Name:</td><td>{{   first_name}}</td>
	</tr>
	<tr>
		<td>Last_Name:</td><td>{{last_name}}</td>
	</tr>
	<tr>
		<td>rollno   :</td><td>{{Email}}</td>
	</tr>
	<tr>
		<td>Email    :</td><td>{{rollno}}</td>
	</tr>
	<tr>
		<td>Department :</td><td>{{subject}}</td>
	</tr>
	
</table>
</body>
</html>